.reviews {
    margin-top: 100px;
    margin-bottom: 112px;
}

.reviews .ReviewCards {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

@media (max-width: 1200px) {
    .reviews .ReviewCards {
        flex-direction: column;
    }
}