.reviewCard {
    width: 732px;
    height: 385px;
    background: rgba(16, 20, 24, 0.70);
    margin: 80px 60px;
    padding-top: 38px;
    padding-left: 58px;
}
.reviewCard .personInfo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}
.reviewCard .personInfo span {
    color: #FFFFFC;
    font-size: 18px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    line-height: 155.3%;
    letter-spacing: 2.34px;
    text-transform: capitalize;
}
.reviewCard p {
    width: 600px;
    color: #FFFFFC;
    font-size: 16px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2.08px;
    text-transform: capitalize;
    margin-top: 38px;
}