.rate {
    width: 220px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    gap: 20px;
}
.rate div h2 {
    color: #FFCE6D;
    font-size: 48px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    text-transform: capitalize;
}
.rate div h5 {
    color: #FFFFFC;
    font-size: 13px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    line-height: 117.3%;
    text-transform: capitalize;
    text-align: center;
}